html, h1, h2, h3, body, input, textarea, button {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navIndex > ul {
    display: flex;
}

.navIndex > ul > li {
    list-style: none;
}

.navIndex > ul > li > a {
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px;
    color: black;
}

.navIndex > ul > li > a:hover {
    background-color: rgb(224, 224, 224);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.form-container {
    width: 100%;
    max-width: 600px; /* Adjust the max-width as needed */
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="file"],
input[type="tel"],
textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: calc(100% - 22px); /* Adjust for padding and border */
}

textarea {
    resize: vertical;
    min-height: 100px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
