html, h1, h2, h3 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navNews > ul {
    display: flex;
}

.navNews > ul > li {
    list-style: none;
}

.navNews > ul > li > a {
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px;
    color: black;
}


.navNews > ul > li > a:hover {
    background-color: rgb(224, 224, 224);
}

.cardItem {
    max-width: 750px;
    display: flex;
    align-items: center;
    border: 1px solid black;
}

.links {
    text-decoration: none;
    color: black;
    margin: 20px 10px;
}

.links:hover {
    color: grey;
}

.cardItem img {
    max-height: 150px;
    margin-right: 15px;
}

.cardItem {
    padding: 20px;
}

h1 {
    margin-top: 100px;
}











